.div-load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.loader {
  --s: 50px;
  --g: 10px;

  width: calc(2 * (1.353 * var(--s) + var(--g)));
  aspect-ratio: 1;
  background: linear-gradient(#4f46e5 0 0) left/50% 100% no-repeat,
    conic-gradient(
      from -90deg at var(--s) calc(0.353 * var(--s)),
      #fff 135deg,
      #666 0 270deg,
      #aaa 0
    );
  background-blend-mode: multiply;
  --_m: linear-gradient(
      to bottom right,
      #0000 calc(0.25 * var(--s)),
      #000 0 calc(100% - calc(0.25 * var(--s)) - 1.414 * var(--g)),
      #0000 0
    ),
    conic-gradient(
      from -90deg at right var(--g) bottom var(--g),
      #000 90deg,
      #0000 0
    );
  -webkit-mask: var(--_m);
  mask: var(--_m);
  background-size: 50% 50%;
  -webkit-mask-size: 50% 50%;
  mask-size: 50% 50%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l9 1.5s infinite;
}
@keyframes l9 {
  0%,
  12.5% {
    background-position: 0% 0%, 0 0;
  }
  12.6%,
  37.5% {
    background-position: 100% 0%, 0 0;
  }
  37.6%,
  62.5% {
    background-position: 100% 100%, 0 0;
  }
  62.6%,
  87.5% {
    background-position: 0% 100%, 0 0;
  }
  87.6%,
  100% {
    background-position: 0% 0%, 0 0;
  }
}

.chat-bubble {
  background-color: #eef2ff;
  padding: 12px 18px;
  border-radius: 20px 20px 20px 0px;
  width: 18%;
  border: 1px solid #4f46e5;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #818cf8;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #818cf8;
  }
  28% {
    transform: translateY(-7px);
    background-color: #4f46e5;
  }
  44% {
    transform: translateY(0px);
    background-color: #eef2ff;
  }
}
